{% extends 'ortopediya/base.html' %}
{% load static %}
{% block content %}
<div class="container div-background">
    <div class="container text-center p-4">
        <h2>Ортопедические салоны Кузница Здоровья</h2>
    </div>

    <div class="container padding-side-article-11">
        <p class="about-article-text mb-3"><img class="rounded responsive-400 leftimg-7-9-7-0"
                                           src="{% static 'ortopediya/images/about/article_about_0.png'%}">
            Постоянные клиенты ортопедических салонов «Кузница Здоровья» - люди с различными заболеваниями или
            ограниченными физическими возможностями, спортсмены, беременные женщины и те, кто заботится о своём здоровье. Не
            зря говорят, что болезнь проще предотвратить, чем лечить: профилактика всегда обходится дешевле.
            Ортопедические салоны предлагают большой выбор средств, помогающих предупредить те или иные заболевания.
        </p>
        <p class="about-article-text mb-3">
            В нашем салоне широко представлены <a href="{% url 'catalog' 27%}" class="text-decoration-none"><b>ортопедические
            подушки</b></a> (в том числе детские)
            задача которых - поддерживать правильное положение позвоночника во время сна. Их
            использование улучшает подвижность шейного отдела, снимает мышечное напряжение в
            воротниковой зоне, ускоряет засыпание, обеспечивает профилактику и лечение грыж межпозвоночных дисков,
            шейного остеохондроза.
        </p>
        <p class="about-article-text mb-3">
            <img class="rounded responsive-400 rightimg"
                                           src="{% static 'ortopediya/images/about/article_about_1.png'%}">
            Здесь вы найдете <a href="{% url 'catalog' 2%}" class="text-decoration-none"><b>ортопедические
            стельки</b></a> для взрослых и детей. Их использование снижает риск развития
            плоскостопии и снимает болевые ощущения при уже приобретенных отклонениях,
            оптимизирует биомеханику стопы и нижних конечностей при стоянии и ходьбе. Стельки представлены на мягкой,
            полужесткой и жесткой основе. Облегчить болевые ощущения в ногах при различных деформациях стоп помогут
            корригирующие средства и
            <a href="{% url 'catalog' 4 %}" class="text-decoration-none"><b>корректоры стопы</b></a> - <a
                href="{% url 'product' 16%}" class="text-decoration-none"><b>силиконовые подпяточники</b></a>, <a
                href="{% url 'product' 17%}" class="text-decoration-none"><b>межпальцевые расширители</b></a>, <a
                href="{% url 'product' 18 %}" class="text-decoration-none"><b>приспособления для отведения большого
            пальца</b></a> и др. <br>
        </p>
        <p class="about-article-text mb-3">
            В наших ортопедических салонах широко представлены <a href="{% url 'catalog' 0%}?search=бандаж"
                                                                  class="text-decoration-none"><b>бандажи на суставы</b></a>
            - <a href="{% url 'catalog' 18%}" class="text-decoration-none"><b>тазобедренный</b></a>, <a
                href="{% url 'catalog' 19%}" class="text-decoration-none"><b>коленный</b></a>,
            <a href="{% url 'catalog' 20%}" class="text-decoration-none"><b>голеностопный</b></a>, <a
                href="{% url 'catalog' 24%}" class="text-decoration-none"><b>плечевой</b></a>, <a
                href="{% url 'catalog' 23%}" class="text-decoration-none"><b>локтевой</b></a>,
            <a href="{% url 'catalog' 21%}" class="text-decoration-none"><b>лучезапястный</b></a>. Они оказывают существенную помощь в эффективной
            профилактике и комплексном лечении изменений в суставах, которые могут возникать у людей всех возрастов. Их
            использование снижает нагрузку на суставы, обеспечивает фиксацию пораженных суставов в функционально
            выгодном положении, улучшает микроциркуляцию крови, что сокращает срок реабилитации после травм и операций.
            <br>
        </p>
        <p class="about-article-text mt-1 mb-4">
            <img class="rounded responsive-400 leftimg-7-9-7-0"
                                           src="{% static 'ortopediya/images/about/article_about_2.png'%}">
            Здесь же вы найдете широкий выбор <a href="{% url 'catalog' 0%}?search=бандаж"
                                                 class="text-decoration-none"><b>корсетно-бандажных изделий</b></a>:
            <a href="{% url 'catalog' 10%}" class="text-decoration-none"><b>послеоперационные</b></a>, <a
                href="{% url 'catalog' 12%}" class="text-decoration-none"><b>грыжевые</b></a>, <a
                href="{% url 'catalog' 14%}" class="text-decoration-none"><b>бандажи при
            опущении внутренних органов</b></a>, <a href="{% url 'catalog' 15%}" class="text-decoration-none"><b>бандажи
            при опущении органов малого таза</b></a>, поясничные, грудопоясничные, <a href="{% url 'catalog' 17%}"
                                                                                      class="text-decoration-none"><b>шейные
            корсеты</b></a>, в том числе для детей, начиная с грудного возраста, <a href="{% url 'catalog' 26%}"
                                                                                    class="text-decoration-none"><b>корректоры
            осанки</b></a>. <br>
            Особое внимание стоит обратить на товары для будущих мам:<a href="{% url 'catalog' 11%}"
                                                                        class="text-decoration-none"><b> до- и
            послеродовые бандажи</b></a> помогут сохранить
            красоту и здоровье, обеспечат хорошее самочувствие в период беременности маме и малышу. <br>
        </p>
        <p class="about-article-text mb-3">
            Большой популярностью не только у пожилых людей, но и у молодежи, и людей среднего возраста, как мужчин, так
            и женщин, сегодня пользуется лечебный противоварикозный трикотаж.Это своего рода каркас, поддерживающий
            вены в правильном положении. В продаже имеются <a href="{% url 'catalog' 5%}"
                                                              class="text-decoration-none"><b>колготы</b></a>, <a
                href="{% url 'catalog' 6%}" class="text-decoration-none"><b>чулки</b></a> и <a
                href="{% url 'catalog' 7%}" class="text-decoration-none"><b>гольфы</b></a> всех классов компрессии,
            различных
            моделей, размеров и цветов. Здесь же есть госпитальный компрессионный трикотаж, снижающий риск развития
            тромботических осложнений. <br>
        </p>
        <p class="about-article-text mb-3">
            Оптимальным способом предупреждения образования пролежней и их лечения является тщательный уход за кожей и
            использование противопролежневых подушек и <a
                href="{% url 'catalog' 38%}" class="text-decoration-none"><b>матрацов</b></a>, которые осуществляют микромассаж мягких тканей,
            предупреждая застой крови и лимфы в коже и подкожно-жировой клетчатке. Обычно пролежни появляются в местах,
            подверженных длительному давлению: области крестца, ягодиц, седалищных бугров, голеней, пяточных костей.
            Сначала на мягкие ткани и кожные покровы этих областей действует сдавливание, которое приводит к нарушению
            кровообращения, затем наступает омертвление тканей. Если освободить пораженные участки от сдавливания и
            обеспечить свободное поступление крови к образовавшемуся пролежню, кровообращение в местах повреждения
            восстанавливается. <br><br>

            Технические средства реабилитации повышают уровень независимости инвалидов в повседневной жизни. В наших
            салонах вы можете приобрести костыли, ходунки, трости. <br><br>
        </p>

        <div class="about-article-text text-center mb-3">
            <b>Вся продукция представлена в разных ценовых категориях, поэтому каждый клиент найдет для себя подходящий и
            максимально доступный товар.</b><br>
        </div>

    </div>

     <div class="container text-center p-4">
        <h2>С нами сотрудничают</h2>
    </div>

    <div class="slider_about p-5">
        <div class="slider_item">
            <img class="padding-top-2-percent" width="60%" src="{% static 'ortopediya/images/about/cooperation_firm_trives.png'%}">
        </div>
        <div class="slider_item">
            <img class="padding-top-6-percent" width="60%" src="{% static 'ortopediya/images/about/cooperation_firm_ortonic.png'%}">
        </div>
        <div class="slider_item">
            <img class="" width="55%" src="{% static 'ortopediya/images/about/cooperation_firm_fosta.webp'%}">
        </div>
        <div class="slider_item">
            <img class="padding-top-2-percent" width="60%" src="{% static 'ortopediya/images/about/cooperation_firm_kreit.png'%}">
        </div>
        <div class="slider_item">
            <img class="" width="70%" src="{% static 'ortopediya/images/about/cooperation_firm_ecoten.png'%}">
        </div>
        <div class="slider_item">
            <img class="padding-top-7-percent" width="65%" src="{% static 'ortopediya/images/about/cooperation_firm_orliman.png'%}">
        </div>
        <div class="slider_item">
            <img class="padding-top-4-percent" width="55%" src="{% static 'ortopediya/images/about/cooperation_firm_orto.png'%}">
        </div>
    </div>
    <div class="container text-center p-4">
            <h2>Нас можно найти по адресам</h2>
    </div>
    <div class="container p-5 div-map-about">
        <div class=" p-md-1 mb-4 text-white rounded bg-light">
            <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/195/ulyanovsk/search/%D0%9A%D1%83%D0%B7%D0%BD%D0%B8%D1%86%D0%B0%20%D0%B7%D0%B4%D0%BE%D1%80%D0%BE%D0%B2%D1%8C%D1%8F%20%D1%83%D0%BB%D1%8C%D1%8F%D0%BD%D0%BE%D0%B2%D1%81%D0%BA/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Кузница здоровья ульяновск в Ульяновске</a><a href="https://yandex.ru/maps/195/ulyanovsk/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Ульяновск</a><iframe class="map-about" src="https://yandex.ru/map-widget/v1/-/CCURM4u2pA" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
        </div>
    </div>
</div>
    {% endblock %}