{% extends 'ortopediya/base.html' %}
{% load static %}
{% block content %}
<div class="container div-background">
    <div class="container text-center p-4">
        <h2>Ортопедические салоны Кузница здоровья</h2>
    </div>

    <div class="container padding-side-article">
        <p class="about-article-text"><img class="rounded responsive leftimg"
             src="{% static 'ortopediya/images/about_image_1.jpg'%}">
        No skill is more valuable and harder to come by than the ability to critically think through problems. Schools don’t teach you a method of thinking. Thinking is one of those things that can be learned but can’t be taught.
When it comes to thinking the mind has an optimal way to be operated. When operated correctly you’ll find yourself with plenty of free time. When operated incorrectly, most of your time will be consumed correcting mistakes.
Good decisions create time, bad ones consume it. Good initial decisions pay dividends for years, allowing abundant free time and low stress. Poor decisions, on the other hand, consume time, increase anxiety, and drain us of energy.
But how can we learn how to think? For the answer we turn to Solitude and Leadership, <br>a lecture given by William Deresiewicz. The entire essay is worth reading (and re-reading).
Learning How To ThinkLet’s start with how you don’t learn to think. A study by a team of researchers at Stanford came out a couple of months ago. The investigators wanted to figure out how today’s college students were able to multitask so much more effectively than adults. How do they manage to do it, the researchers asked? The answer, they discovered—and this is by no means what they expected—is that they don’t. The enhanced cognitive abilities the investigators expected to find, the mental faculties that enable people to multitask effectively, were simply not there. In other words, people do not multitask effectively. And here’s the really surprising finding: the more people multitask, the worse they are, not just at other mental abilities, but at multitasking itself.
One thing that made the study different from others is
            <img class="rounded responsive rightimg" src="{% static 'ortopediya/images/about_image_2.jpg'%}">
            that the researchers didn’t test people’s cognitive functions while they were multitasking. They separated the subject group into high multitaskers and low multitaskers and used a different set of tests to measure the kinds of cognitive abilities involved in multitasking. They found that in every case the high multitaskers scored worse. They were worse at distinguishing between relevant and irrelevant information and ignoring the latter. In other words, they were more distractible. They were worse at what you might call “mental filing”: keeping information in the right conceptual boxes and being able to retrieve it quickly. In other words, their minds were more disorganized. And they were even worse at the very thing that defines multitasking itself: switching between tasks.
Multitasking, in short, is not only not thinking, <br> it impairs your ability to think. Thinking means concentrating on one thing long enough to develop an idea about it. Not learning other people’s ideas, or memorizing a body of information, however much those may sometimes be useful. Developing your own ideas. In short, thinking for yourself. You simply cannot do that in bursts of 20 seconds at a time, constantly interrupted by Facebook messages or Twitter tweets, or fiddling with your iPod, or watching something on YouTube.
I find for myself that my first thought is never my best thought.
    </div>

     <div class="container text-center p-4">
        <h2>С нами сотрудничают</h2>
    </div>

    <div class="slider_about">
        <div class="slider_item">
            <img class="padding-top-2-percent" width="60%" src="{% static 'ortopediya/images/about/cooperation_firm_trives.png'%}">
        </div>
        <div class="slider_item">
            <img class="padding-top-6-percent" width="60%" src="{% static 'ortopediya/images/about/cooperation_firm_ortonic.png'%}">
        </div>
        <div class="slider_item">
            <img class="" width="55%" src="{% static 'ortopediya/images/about/cooperation_firm_fosta.webp'%}">
        </div>
        <div class="slider_item">
            <img class="padding-top-2-percent" width="60%" src="{% static 'ortopediya/images/about/cooperation_firm_kreit.png'%}">
        </div>
        <div class="slider_item">
            <img class="" width="70%" src="{% static 'ortopediya/images/about/cooperation_firm_ecoten.png'%}">
        </div>
        <div class="slider_item">
            <img class="padding-top-7-percent" width="65%" src="{% static 'ortopediya/images/about/cooperation_firm_orliman.png'%}">
        </div>
        <div class="slider_item">
            <img class="padding-top-4-percent" width="55%" src="{% static 'ortopediya/images/about/cooperation_firm_orto.png'%}">
        </div>

    </div>
</div>
{% endblock %}