{% extends 'ortopediya/base.html'%}
{% load static %}
{% block content %}
<div class="container div-background">
<div class="container text-center p-4 mt-2">
        <h1>Полезные свойства соляных ламп</h1>
    </div>

    <div class="container padding-side-article-11 justify-content-center">
        <p class="mb-3 about-article-text">
            Гималайская розовая каменная соль,
            обрезавшаяся более 250 миллионов лет назад во время
            Юрского периода, является одной из самых чистых солей в мире.
            Розовая Гималайская соль имеет благородный красный оттенок за счёт содержащегося
            в ней железа и большого количества разнообразных минералов и химических веществ: хлорида натрия,
            магния, кальция, калия, йода, брома, бората, стронция, соли, серной кислоты.
        </p>
        <p class="about-article-text mb-2">

            Большие камни розовой соли используются как соляные лампы – натуральные ионизаторы воздуха.
            Соляная лампа представляет собой абажур из большого кристалла с лампой накаливания внутри.
            <img class="rounded responsive rightimg"
             src="{% static 'ortopediya/images/articles/image_for_article_2(0).png'%}">
            Воздействие соляной лампы основано на сочетании света, тепла и соли. Тепло от лампочки накаливания разогревает соль,
            и, благодаря естественной влажности воздуха, начинается процесс растворения-гидратации вещества. Подогреваемые
            кристаллы излучают отрицательные ионы и окружающий воздух очищается и обогащается. Соляная лампа оказывает благоприятное
            действие на общее состояние организма, способствует повышению тонуса, укреплению иммунитета, здоровому спокойному сну
            детей, оказывает профилактическое воздействие при гайморите, астме, аллергии, дерматите, снижает негативное влияние
            электромагнитных полей, излучаемых бытовыми приборами (компьютерами, телевизорами и т.д.), уничтожают патогенные грибки,
            бактерии, и, как следствие, ликвидирует неприятные запахи в помещении; снимает усталость и восстанавливает душевное
            спокойствие.
        </p>

        <a href="{% url 'catalog' 34 %}" type="button" class="btn btn-sm btn-warning mt-3 mb-4"><strong>Смотреть ещё больше товаров данной категории</strong></a>
    </div>
</div>
{% endblock %}