{% extends 'ortopediya/base.html'%}
{% load static %}
{% block content %}
<div class="container div-background">
<div class="container text-center p-4 mt-2">
        <h1>Точки на стопе и наши внутренние органы</h1>
    </div>

    <div class="container padding-side-article-11 justify-content-center">
        <p class="mb-3 about-article-text">
            Много столетий назад люди заметили интересный факт: те, кто много ходят босиком,
            обычно хорошо себя чувствуют и заметно здоровее остальных. На стопах человека находится более
            70.000 нервных окончаний, образующими рефлексогенные зоны, которые связывают участки стопы с определенными
            внутренними органами, и с физиологическими системами, на подошвах проекционные зоны внутренних органов
            расположены очень близко друг к другу, и имеют четкие границы.
            Рефлексологи рассматривают подошву стопы как карту человеческого тела.
        </p>
        <p class="about-article-text mb-2">

            Каждая точка отвечает за свой орган: кончики пальцев -это наша голова,
            верхняя часть стопы связана с грудным и шейным отделами позвоночника,
            пятки -с нижней частью спины, а точки на своде стопы влияют на состояние внутренних органов.
            В процессе массажа стопы мы можем обнаружить болевые точки -это сигнал, обратить
            внимание на тот орган которому соответствует точка. Точку
            где обнаружили боль нужно тщательно про массировать, надавливая на точку с небольшим промежутком времени.
            <img class="rounded responsive rightimg"
             src="{% static 'ortopediya/images/articles/image_for_article_1.png'%}">
            Результат воздействия на точку- исчезновение боли. Массаж стоп нормализует работу наших внутренних органов,
            можно снять нервное напряжение, усталость, нормализовать сон, поднимает настроение, улучшает лимфу и кровообращение.
            Массаж желательно проводить каждый день.  Перед массажем стопу нужно размять походить босиком, подняться на носочки,
            потоптаться, принять ножную ванну. Массировать ступню нужно обеими пальцами применяя кулаки и костяшки пальцев.
            Для массажа ног очень хорошо применять крем Артро — хвоя, до нанесения крема можно использовать
            <a class="text-decoration-none" href="{% url 'product' 10 %}">валик универсальный  Ляпко</a>, как для разогрева и массажа. Если у вас нет времени, вы можете применять
            <a class="text-decoration-none" href="{% url 'product' 11 %}"> металлоигольчатые стельки Ляпко</a> , которые предназначены для воздействия на рефлекторные зоны стопы.
        </p>
        <div class="d-flex justify-content-center mt-3 mb-3">
            <img class="rounded text-center responsive-700"
             src="{% static 'ortopediya/images/articles/image_for_article_1(1).png' %}">
        </div>
        <p class="about-article-text mb-3">
            <b>О чём говорит температура наших ног.</b><br>
            — Ноги здорового человека должны быть сухими и тёплыми.<br>
            — Влажные и холодные ноги говорят о недостатке энергии в области желудка и тонкой кишки, а также о нарушении работы эндокринной железы.<br>
            — Влажные и горячие ноги — повышенная температура при воспалительных процессах и лёгочных инфекциях.<br>
            — Сухие и холодные ноги указывают на недостаточность сердечно-сосудистой системы и изменения головного мозга.<br>
            — Сухие и горячие — чаще всего у людей, страдающих избыточной функцией щитовидной железы и повышенной кислотностью.<br>
            — Если правая стопа тёплая, а левая — холодная, стоит обратить внимание на работу сердца.<br>
        </p>
        <a href="{% url 'catalog' 30 %}" type="button" class="btn btn-sm btn-warning mt-3 mb-4"><strong>Смотреть ещё больше товаров данной категории</strong></a>
    </div>
</div>
{% endblock %}