{% extends 'ortopediya/base.html'%}
{% load static %}
{% block content %}
<div class="container div-background">
    <div class="container text-center p-4 mt-2">
        <h1>Как правильно подобрать ортопедическую подушку?</h1>
    </div>

    <div class="container padding-side-article-11 justify-content-center">

        <p class="mb-3 about-article-text">
            <a href="{% url 'catalog' 27%}"><b>Ортопедическая подушка</b></a> – это специально разработанное средство
            для комфортного сна.
            Она гарантирует позвоночнику естественное положение, шейный и грудной отделы вычерчивают прямую линию,
            нет излишней нагрузки на межпозвонковые диски. Действует с целью профилактики развития остеохондроза
            позвоночника (шейного отдела, в том числе) и снимает мышечное напряжение. Ортопедическая подушка
            поддерживает голову, шею и плечевой пояс, способствует восстановлению правильного дыхания и достаточному
            притоку кислорода к тканям головного мозга. Это благоприятствует снятию головных болей и полноценному
            отдыху.
        </p>

        <p class="mb-3 about-article-text">
            На рынке доступно множество различных видов <a href="{%url 'catalog' 27 %}" class="text-decoration-none">ортопедических
            подушек</a>.
            Как правило, врачи-ортопеды рекомендуют,
            чтобы <a href="{%url 'product' 13 %}" class="text-decoration-none"> подушка </a> при болевом синдроме в шее
            и плечах была достаточно жесткой, чтобы поддержать голову под
            правильным углом, но достаточно мягкой, чтобы не оказывать слишком большое давление.
            При выборе, также нужно заострить внимание на вашу любимую позу во время сна (на спине, на
            боку, на животе), на ширину плеч, наполнитель подушки.<br>
            При выборе, также нужно заострить внимание на вашу любимую позу во время сна (на спине, на боку, на животе),
            на ширину плеч, наполнитель подушки.
        </p>
        <h3>Ортопедические подушки разделяются</h3>
        <h4>По форме:</h4>
        <p class="about-article-text mt-3">
            <a href="{%url 'product' 14 %}" class="text-decoration-none"><b>Волнообразная</b></a>.
            У такой подушки: 2 ортопедических валика разной высотности. Если вы предпочитаете
            засыпать на спине, или на животе то в области шеи находится более низкий валик.
            Однако рекомендуем, избавиться от привычки спать на животе. Поза на животе – является самой
            вредной для здоровья (во время сна в такой позе сдавливается грудная клетка и внутренние органы).
            Если спите на боку - помещается высокий валик.
        </p>
        <p class="about-article-text mt-2">
            <a href="{%url 'product' 9 %}" class="text-decoration-none"><b>С плечевой выемкой.</b></a>
            Такая форма подушек предназначена для любителей спать на боку.
        </p>
        <div class="d-flex justify-content-center mt-3 mb-3">
            <img class="rounded text-center responsive-700"
                 src="{% static 'ortopediya/images/articles/image_for_article_3(0).png' %}">
        </div>
        <h4>По высоте:</h4>
        <p class="about-article-text mb-3">
            Если кратко, чем крупнее комплекция, шире плечи – тем более высокой должна быть подушка.
            Чтобы корректно определить необходимую высоту - нужно измерить ширину плеча от выступающей
            косточки до основания шеи. Полученное значение и является необходимой высотой подушки. Возможная
            погрешность: 1-2 см.
        </p>
        <div class="d-flex justify-content-center mt-3 mb-3">
            <img class="rounded text-center responsive-700"
                 src="{% static 'ortopediya/images/articles/image_for_article_3(1).png' %}">
        </div>
        <p class="about-article-text mb-3">
            Также стоит учитывать, что человек предпочитающий спать на боку – должен выбрать более высокую модель,
            чем тот, кто любит спать на спине.
        </p>
        <h4>По наполнителю:</h4>
        <p class="about-article-text mb-3 mt-3">
            <a href="{%url 'product' 13 %}" class="text-decoration-none"><b>Пена с эффектом памяти.</b></a>
            Первоначально НАСА создало этот материал для астронавтов, хотя на самом деле этот материал так и не попал в
            космос. Пена с эффектом памяти - это современный материал для подушек на основе пенополиуретана, способный
            адаптироваться под анатомические особенности тела. Один из самых востребованных материалов на рынке
            постельных
            принадлежностей (подушки, матрасы, наматрасники). Заставляет вас чувствовать себя будто лежишь на облачке.
            Уникальность материала заключается в том, что при повышении температуры от прикосновения тела, он становится
            мягче
            и подстраивается под контур тела. Как правило, пена с эффектом памяти более высокой плотности более
            долговечна и имеет
            лучшее качество среди ортопедических подушек.
        </p>
        <p class="about-article-text mb-3 mt-3">
            <b>Подушки из латекса</b> довольно упругие, они будто «пружинят». Они понравятся любителям сна на спине,
            а также тем, кто предпочитает высокие подушки. В отличии от подушек с эффектом памяти, латексные
            подушки менее нагреваются от температуры тела, обеспечивая более прохладный сон.
        </p>

        <p class="about-article-text mb-3 mt-3">
            <a href="{%url 'product' 15 %}" class="text-decoration-none"><b>Гречневая лузга</b></a> - экологически безопасный наполнитель. Сегодня уже многие западные страны используют подушки
            и одеяла из гречневой лузги вместо неэкологичных синтетических материалов. Наполнитель из гречневой шелухи
            придает умеренную жесткость, приятный аромат и оказывает микромассажное воздействие.
        </p>
        <div class="text-center mt-3 mb-3">
            <h2>Ортопедическая подушка – это гарантия здорового, безмятежного и крепкого сна!</h2>
        </div>
        <a href="{% url 'catalog' 27 %}" type="button" class="btn btn-sm btn-warning mt-3 mb-4"><strong>Смотреть ещё
            больше товаров данной категории</strong></a>
    </div>
</div>
{% endblock %}