{% extends "ortopediya/base.html" %}
{% load static %}
{% block content %}
<div class="div-background container">
    <div class="row align-items-start">
        <div class="col-1 unnecessary-col"></div>
        <div class="col video-index">
            <div class="items">
                <div class="items__container">
                    <div class="items__body">
                        <div class="item">
                            <div class="item__video">
                                <a href="{% url 'product' 4%}">
                                    <video loop muted autoplay class="video__item" >
                                    <source src="{% static 'ortopediya/video/index_video.mp4' %}" type="video/mp4">
                                    </video>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 article-col">
        <div class="container items">
            <div class="card  bg-light">
                <div class="img-index">
                    <img class="bd-placeholder-img card-img-top rounded article-image-index" width="420" height="200"
                         src="{% static 'ortopediya/images/index_image_salt_lamps.jpg' %} " >
                </div>
            <div class="card-body">
              <p class="card-text h5 text-center"> Полезные свойства соляных ламп</p>
                <p class="truncate-text-two-lines">Гималайская розовая каменная соль,
            обрезавшаяся более 250 миллионов лет назад во время
            Юрского периода, является одной из самых чистых солей в мире.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{% url 'catalog' 34 %}" type="button" class="btn btn-sm btn-outline-secondary">Смотреть товар</a>
                </div>
                  <a href="{% url 'article' 'Полезные свойства соляных ламп' %}" type="button" class="btn btn-sm btn-outline-secondary">Читать статью</a>
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative post-background">
        <div class="col index-card-layout-1 d-flex flex-column position-static">
<!--          <strong class="d-inline-block mb-2 text-primary">World</strong>-->
          <h4 class="mb-0 truncate-text-one-lines-index text-center">Биологически активные точки</h4>
         <div class="mb-2 text-muted">   </div>
          <p class="card-text mb-auto truncate-text-four-lines">Много столетий назад люди заметили интересный факт: те, кто много ходят босиком,
            обычно хорошо себя чувствуют и заметно здоровее остальных. На стопах человека находится более
            70.000 нервных окончаний, образующими рефлексогенные зоны, которые связывают участки стопы с определенными</p>
         <div class="d-flex justify-content-between align-items-center p-1">
                <div class="btn-group">
                  <a href="{% url 'catalog' 30 %}" type="button" class="btn btn-sm btn-outline-secondary">Смотреть товар</a>
                </div>
                  <a href="{% url 'article' 'Биологически активные точки' %}" type="button" class="btn btn-sm btn-outline-secondary">Читать статью</a>
          </div>
        </div>
        <div class="col-auto d-none d-lg-block">
             <div class="">
                 <div class="img-index">
                    <img class="bd-placeholder-img card-img-top rounded" width="420" height="200"
                         src="{% static 'ortopediya/images/index_image_feet.jpg' %} " >
                 </div>
             </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative post-background">
        <div class="col index-card-layout-1 d-flex flex-column position-static">
<!--          <strong class="d-inline-block mb-2 text-success">Design</strong>-->
          <h4 class="mb-0 truncate-text-one-lines-index text-center">Здоровый и безмятежный сон</h4>
          <div class="mb-2 text-muted"></div>
          <p class="card-text mb-auto truncate-text-four-lines">"Истощение дерева начинается с корня, старение человека — с его ног". Древняя китайская поговорка. Именно в ногах находится средоточие активных точек, энергетических каналов, которые влияют на все органы и системы организма.</p>
          <div class="d-flex justify-content-between align-items-center p-1">
                <div class="btn-group">
                  <a href="{% url 'catalog' 27 %}" type="button" class="btn btn-sm btn-outline-secondary">Смотреть товар</a>
                </div>
                  <a href="" type="button" class="btn btn-sm btn-outline-secondary">Читать статью</a>
          </div>
        </div>
        <div class="col-auto d-none d-lg-block">
             <div class="">
                 <div class="img-index">
                    <img class="bd-placeholder-img card-img-top rounded" width="420" height="200"
                         src="{% static 'ortopediya/images/index_image_pillow.jpg' %} " >
                 </div>
             </div>
        </div>
      </div>
    </div>
  </div>

    <div class="slider-index">
        <div class="container text-center p-4">
            <h2>Чаще всего просматривают</h2>
        </div>

        <div class="slider">
            {% for product in index_products %}
               <div class="slider_item">
                <div class="col p-3">
                           <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="text-center">
                                    <img src="{{product.id_product.image.url}}" height="170px" width="auto" vspace="5" class="card-img-top rounded-cat-img p-2" />
                            </div>
                            <div class="card-body">
                  <h6 class="card-text truncate-text-three-lines">{{product.id_product.name}}</h6>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="{{ product.id_product.get_absolute_url }}" type="button" class="btn btn-sm btn-outline-secondary">Купить</a>
                    </div>
                    <div class="padding-left-12">
                         <a href="{% url 'catalog'  product.id_product.subcategory.id %}" class="text-decoration-none">
                             <small class="text-muted truncate-text-one-lines">{{product.id_product.subcategory}}</small>
                        </a>
                    </div>
                  </div>
                </div>
                            </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
  </div>

{% endblock %}