{% extends 'ortopediya/base.html'%}
{% load static %}
{% block content %}
<div class="container div-background">
    <div class="container text-center p-4">
            <h2>О Салоне на улице {{store.street}}</h2>
        </div>
    <div class="container padding-side-article">
        <p class="about-article-text"><img class="rounded responsive leftimg"
             {% if store.image %}
                src="{{store.image.url}}">
             {% else %}
                src="{% static 'ortopediya/images/spare/spare_image_store.jpg' %}">
             {% endif %}
            {{store.description}}
    </div>
    <div class="container text-center p-4">
            <h2>Как добраться</h2>
        </div>
    <div class="container p-5 div-map-store">
        <div class=" p-md-1 mb-4 text-white rounded bg-light div-map">
            {{store.map|safe}}
        </div>
    </div>

</div>
{% endblock %}