{% extends 'ortopediya/base.html'%}
{% load static %}
{% block content %}
<div class="container div-background">
    <div class="container text-center p-4">
            <h2>О Салоне № {{id_store}}</h2>
        </div>
    <div class="container padding-side-article">
        <p class="about-article-text"><img class="rounded responsive leftimg"
             src="{% static 'ortopediya/images/stores/temp.png'%}">
            У нас самый замечательный салон на {{id_store}} улице и т.д. У нас самый замечательный салон на {{id_store}} улице и т.д. У нас самый замечательный салон на {{id_store}} улице и т.д. У нас самый замечательный салон на {{id_store}} улице и т.д. У нас самый замечательный салон на {{id_store}} улице и т.д. У нас самый замечательный салон на {{id_store}} улице и т.д. У нас самый замечательный салон на {{id_store}} улице и т.д. У нас самый замечательный салон на {{id_store}} улице и т.д.
        У нас самый замечательный салон на {{id_store}} улице и т.д.У нас самый замечательный салон на {{id_store}} улице и т.д.У нас самый замечательный салон на {{id_store}} улице и т.д.У нас самый замечательный салон на {{id_store}} улице и т.д.У нас самый замечательный салон на {{id_store}} улице и т.д.У нас самый замечательный салон на {{id_store}} улице и т.д.У нас самый замечательный салон на {{id_store}} улице и т.д.У нас самый замечательный салон на {{id_store}} улице и т.д.У нас самый замечательный салон на {{id_store}} улице и т.д.
        У нас самый замечательный салон на {{id_store}} улице и т.д.
        У нас самый замечательный салон на {{id_store}} улице и т.д.
        У нас самый замечательный салон на {{id_store}} улице и т.д.
        У нас самый замечательный салон на {{id_store}} улице и т.д.
        У нас самый замечательный салон на {{id_store}} улице и т.д.
    </div>
    <div class="container text-center p-4">
            <h2>Как добраться</h2>
        </div>
    <div class="container p-5">
        <div class=" p-md-1 mb-4 text-white rounded bg-light">
            <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/195/ulyanovsk/search/%D0%9A%D1%83%D0%B7%D0%BD%D0%B8%D1%86%D0%B0%20%D0%B7%D0%B4%D0%BE%D1%80%D0%BE%D0%B2%D1%8C%D1%8F%20%D1%83%D0%BB%D1%8C%D1%8F%D0%BD%D0%BE%D0%B2%D1%81%D0%BA/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Кузница здоровья ульяновск в Ульяновске</a><a href="https://yandex.ru/maps/195/ulyanovsk/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Ульяновск</a><iframe src="https://yandex.ru/map-widget/v1/-/CCURM4u2pA" width="100%" height="550" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
        </div>
    </div>
</div>
{% endblock %}