{% extends "ortopediya/base.html" %}
{% load static %}
{% block content %}
 <p><img class="rounded responsive leftimg" width="420" height="200"
             src="{% static 'ortopediya/images/about_image_1.jpg'%}">
        'oadughiaudb;aerufpeiubperibberiuonewr;oughewipbbwriugeqipugbero;uhrigbrinvwriughiergber
        ;ofghrwingpwriugwhriugorrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrtВ 2020 году Белёвский консервный завод из города Белёва стал первым предприятием Тульской области, получившим беспроцентный заём от Фонда развития моногородов (Группа ВЭБ.РФ).
Получить такой заём может любое предприятие из любого моногорода страны. По заявке выдадут либо беспроцентный кредит от 5 до 250 млн рублей, либо от 250 млн до 1 млрд рублей под 5% годовых.
Для ВЭБ.РФ важно, чтобы предприятие находилось в границах моногорода и, получив деньги, создавало там рабочие места.
Благодаря кредиту для моногородов Белёвский консервный завод создал уже 87 рабочих мест и привлёк в экономику своего монопрофильного муниципального образования более 500 млн рублей.
Как получить заëм и грамотно им распорядиться? Объясняем на примере Белёвского консервного завода.</p>
{% endblock %}